@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Roboto:wght@400;500;700;900&family=Montserrat:wght@400;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-sans: 'Libre Baskerville','Roboto', sans-serif; /* For body text */
  --font-heading: "Libre Baskerville",'Hanken Grotesk','Montserrat', sans-serif; /* For headings */
  --radius: 8px; /* For border rounded */
}

/* In your global CSS file */
body {
  font-family: var(--font-sans); /* Set default font for the body */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); /* Set heading font */
}



