@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Roboto:wght@400;500;700;900&family=Montserrat:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .head1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold md:font-extrabold lg:font-black text-center;
  }
  
  .head2 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold md:font-bold lg:font-extrabold text-center;
  }
}



:root {
  --bg-color: #ffffff ; /* Dark background #121212 */
  --text-color: #121212; /* Light text color */
  --dominant: #52B788; /* Main color used for sign In */
  --primary: #D8F3DC; /* Light green background */
  --secondary: #1B4332; /* Dark green text color */
  --font-sans: 'Libre Baskerville', 'Roboto', sans-serif; /* For body text */
  --font-heading: 'Libre Baskerville', 'Hanken Grotesk', 'Montserrat', sans-serif; /* For headings */
  --radius: 8px; /* For border radius */
}

/* Global styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans); /* Set default font for the body */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); /* Set heading font */
}





